<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cities</key>
	<array>
		<string>福建</string>
		<string>浙江</string>
		<string>江苏</string>
		<string>北京</string>
		<string>上海</string>
	</array>
</dict>
</plist>
